#ignore misc BYOND files
Thumbs.db
vchat.db
vchat.db*
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
*.pyc
data/
cfg/

maps/Geminus/backup/*
.VSCodeCounter
maps/Geminus/backup/geminus-3.dmm
maps/Geminus/backup/geminus-2.dmm
maps/Geminus/backup/geminus-1.dmm                                                                                                                                                                                                              
maps/Geminus/backup/geminus-2.dmm
config/admin_ranks.txt
/config/*	
!/config/*/*
!/config/config.txt
config/admins.txt
config/admins.txt

# JavaScript tools
**/node_modules

# named byond versions config
/tools/build/dm_versions.json

.cache
